:root {
    --background-color: #ededed;
    --primary-color: #261616;
    --primary-color-light: #7d7d7d;
    --secondary-color: rgb(161, 93, 255);
    --calculator-color: #f0f0f0;
    --display-background: #191919;
    --display-text: #fefefe;
    --button-light: hwb(0 100% 0% / 0.889);
    --button-shadow: hsla(0, 0%, 0%, 0.164);
}

* {
    /* border: 1px solid green; */
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

body {
    background-color: var(--background-color); 
    margin: 0;
    display: flex;
    justify-content: center;
}

.calculator {
    background-color: var(--calculator-color);
    box-shadow: -1px -1px 1px 0px var(--button-light), 2px 2px 3px 0px var(--button-shadow);
    border-radius: 30px;
    margin-top: 20px;
    width: 100vw;
    height: 100vh;
    max-width: 320px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.display {
    background-color: var(--display-background);
    box-shadow: -1px -1px 1px 0px var(--button-light);
    width: 100%;
    height: 30%;
    border-radius: 30px 30px 20px 20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* gap: 10px; */
    align-items: center;
}

.display div {
    /* border: 1px solid whitesmoke; */
    width: 90%;
    text-align: right;
    color: var(--display-text);
    font-family: monospace;
}

#input {
    height: 3rem;
    font-size: 3rem;
}

.display #history {
    height: 1rem;
    color: var(--secondary-color);
}

.numpad {
    box-sizing: border-box;
    padding: 1% 5% 4% 5%;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
}

.button {
    border: 0;
    box-shadow: -2px -2px 3px 0px var(--button-light), 2px 2px 3px 0px var(--button-shadow);
    /* box-shadow: inset 1px 1px 1px 0px var(--button-light), 
                inset -1px -1px 1px 0px var(--button-shadow); */
    width: 80%;
    height: 80%;
    border-radius: 20%;
    font-size: 1.5rem;
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.operation {
    color: var(--primary-color-light);
}

.button:hover {
    box-shadow: -1px -1px 1px 0px var(--button-light), 1px 1px 1px 0px var(--button-shadow);
}

.button:active {
    box-shadow: 1px 1px 3px 0px var(--button-light), -1px -1px 3px 0px var(--button-shadow);
}

#equal {
    color: var(--display-text);
    background-color: var(--secondary-color);
    box-shadow: -2px -2px 2px 0px var(--button-light), 
                2px 2px 2px 0px var(--button-shadow),
                inset 1px 1px 1px 0px var(--button-light),
                inset -1px -1px 2px 0px var(--button-shadow);
}

#equal:hover {
    box-shadow: -1px -1px 2px 0px var(--button-light), 
                1px 1px 2px 0px var(--button-shadow),
                inset 0.5px 0.5px 0.5px 0px var(--button-light),
                inset -1px -1px 1px 0px var(--button-shadow);
}

#equal:active {
    box-shadow: -1px -1px 2px 0px var(--button-shadow), 
                2px 2px 3px 0px var(--button-light),
                inset 1px 1px 3px 0px var(--button-shadow);
}